util.print: Use console.log instead
.one {
  hello: one;
  world: one;
}
.two {
  hello: two;
  world: two;
}
.three {
  hello: three;
  world: three;
}
.multi-foo {
  foo: two cool;
  foo: three cool yeah;
  foo: two 1;
  foo: three 1 yeah;
  foo: three 1 1;
}
.multi-baz {
  baz: two cool;
  baz: three yeah;
  baz: two 1;
  baz: three 1;
}
