util.print: Use console.log instead
div {
  interp1: yes;
  interp2: @{cool-hello};
  interp3: @{cool-@{cool-hello}};
}
10"yeah" {
  color: blue;
}
10 {
  color: blue;
}
hello world 10 {
  color: red;
}
#"yeah" {
  color: "hello 10";
}
[prop],
[prop="value3"],
[prop*="val3"],
[|prop~="val3"],
[*|prop$="val3"],
[ns|prop^="val3"],
[3^="val3"],
[3=3],
[3] {
  attributes: yes;
}
