util.print: Use console.log instead
#header {
  color: black;
}
#header .navigation {
  font-size: 12px;
}
#header .navigation .border .outside {
  color: blue;
}
#header .logo {
  width: 300px;
}
#header .logo:hover {
  text-decoration: none;
}
a b ul li {
  color: green;
}
div .cool {
  color: green;
}
p .cool span {
  color: yellow;
}
div another {
  color: green;
}
p another span {
  color: yellow;
}
b .something {
  color: blue;
}
b.something {
  color: blue;
}
.foo .bar .qux,
.foo .baz .qux {
  display: block;
}
.qux .foo .bar,
.qux .foo .baz {
  display: inline;
}
.qux .foo .bar .biz,
.qux .foo .baz .biz {
  display: none;
}
b hello [x="&yeah"] {
  color: red;
}
