/**
 * This file should get overwritten if Method 1 is used. If Method 2 is chosen,
 * remove this comment and start adding your styles to this file.
 */

.calendar-calendar .month-view .full td.multi-day div.monthview, .calendar-calendar .week-view .full td.multi-day div.weekview, .calendar-calendar .day-view .full td.multi-day div.dayview {
    height: 2.9em;
}

.indented {
    padding-left: 25px;


}

#comments .ajax-comment-wrapper:nth-child(even) {background: #DEE0E2}
#comments .ajax-comment-wrapper:nth-child(odd) {background: #BFC1C3}


#comments .ajax-comment-wrapper:nth-child(even) .indented:nth-child(even) {  background-color: #cfcfcf;}
#comments .ajax-comment-wrapper:nth-child(odd) .indented:nth-child(odd) {  background-color: #cecece;}