<h1>h1. Bootstrap heading <small>Secondary text</small></h1>
<h2>h2. Bootstrap heading <small>Secondary text</small></h2>
<h3>h3. Bootstrap heading <small>Secondary text</small></h3>
<h4>h4. Bootstrap heading <small>Secondary text</small></h4>
<h5>h5. Bootstrap heading <small>Secondary text</small></h5>
<h6>h6. Bootstrap heading <small>Secondary text</small></h6>

<blockquote>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
  <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
</blockquote>

<p class="bg-primary primary-text">Bacon ipsum dolor sit amet pork belly shank beef ribs, filet mignon doner meatball chicken jowl ham hock beef. Pork chop salami sirloin spare ribs beef, capicola tail ball tip prosciutto filet mignon sausage swine pork loin. Capicola landjaeger strip steak, ball tip pork chop meatball tongue ground round drumstick pork loin porchetta shankle pork. Pork chop leberkas beef ribs pork pastrami frankfurter jowl shankle shank tail tenderloin sirloin meatball kevin strip steak.</p>

<p class="bg-info info-text">Bacon frankfurter kevin sausage, ham hock tenderloin prosciutto. Bacon swine drumstick ribeye kevin venison, bresaola turducken salami ground round short loin landjaeger pork loin prosciutto tongue. Turkey tenderloin t-bone rump strip steak flank. Bresaola shoulder tenderloin, t-bone flank rump salami ham. Ground round kevin flank, jowl ham swine doner.</p>

<p class="bg-success success-text">Swine ground round leberkas t-bone jowl biltong beef hamburger venison kielbasa pastrami. Sirloin shankle tail jerky porchetta ball tip, ham hock ground round pig tenderloin short ribs pork turducken biltong. Salami chuck fatback swine rump pancetta flank bresaola filet mignon meatloaf hamburger corned beef drumstick meatball. Bacon ball tip boudin biltong frankfurter rump salami jerky pig sirloin tongue ham hock meatloaf. Pork loin tail bresaola, shoulder beef ribs shankle landjaeger fatback filet mignon tenderloin ribeye bacon.</p>

<p class="bg-warning warning-text">Kielbasa pork loin jerky flank prosciutto ground round bresaola strip steak andouille short ribs. Beef t-bone short ribs pork jerky tri-tip. Doner biltong hamburger tenderloin pork chop drumstick pork loin short ribs shankle venison chuck beef. Jowl sausage leberkas, filet mignon turkey pork belly sirloin shank kielbasa beef chicken meatball spare ribs tail pork chop. Short loin andouille fatback venison jerky boudin sirloin chicken jowl short ribs ball tip swine. Pork rump flank cow porchetta.</p>

<p class="bg-danger danger-text">Kielbasa pork loin jerky flank prosciutto ground round bresaola strip steak andouille short ribs. Beef t-bone short ribs pork jerky tri-tip. Doner biltong hamburger tenderloin pork chop drumstick pork loin short ribs shankle venison chuck beef. Jowl sausage leberkas, filet mignon turkey pork belly sirloin shank kielbasa beef chicken meatball spare ribs tail pork chop. Short loin andouille fatback venison jerky boudin sirloin chicken jowl short ribs ball tip swine. Pork rump flank cow porchetta.</p>