// Insert your styling here.

.calendar-calendar .month-view .full td.multi-day div.monthview, .calendar-calendar .week-view .full td.multi-day div.weekview, .calendar-calendar .day-view .full td.multi-day div.dayview {
  height: 2.9em;
}

.indented {
  margin-left: 25px;
  background-color: #ececec;
}