@import "styleresources.less";

.hover_colors(@base,@highlight,@dark)
{
	border-color:@dark;
	color:@dark;
	background:@base;
	&:hover
	{
		color:@dark;
		background:@highlight;
	}
}

body
{
	.uk_spec_body();
	*{ font-size:1em;}
	h1, h2, h3, h4
	{
		font-weight:bold;
	}
	h1
	{
		font-size:@header_size;
	}
	h2
	{
		font-size:@header_size * .8;
	}
	h3
	{
		font-size:@header_size * .75;
	}
	h4, h5, h6
	{
		font-size:@header_size * .6;
	}
	h5, h6
	{
		font-weight:normal;
	}
	h6
	{
		color: @secondary_text;
	}
	.navbar-default
	{
		background:@link_color;
		border:@border_color 1px solid;
		box-shadow: inset fade(@border_color,30) 0 0 4px;
	}
	.well
	{
		.uk_spec_panel(false);
	}
	.navbar a,
	.nav li
	{
		.uk_spec_typography("body");
		color:@white;
		&:hover, &.active
		{
			color:@white;
			background:@white;
		}
		&:active,&.active
		{
			color:@white;
		}
		&:visited
		{
			color:@white;
		}
	}
	.navbar-btn
	{
		.uk_spec_typography("body");
		color:@link_color !important;
	}
	.navbar-toggle
	{
		background:@canvas_color;
		border-color:@border_color;
	}
	.navbar-container
	{
	}
	.name, .navbar-brand, .navbar-default
	{
		.uk_spec_typography("body");
	}
	.btn
	{
		border-radius:3px;
		border-width:1px;
		border-style:solid;
		border-color:@border_color;
	}
	.button_mix(@f,@b,@t)
	{
		.hover_colors(@f,@b,@t);
		&.disabled
		{
			.hover_colors(@b,@b,@white);
		}
	}
	.btn-default
	{
		background:@grey_4;
	}
	.btn-warning
	{
		.button_mix(@orange_fade,@orange_bright,@orange);
	}
	.btn-danger
	{
		.button_mix(@red_fade,@red_bright,@red);
	}
	.btn-info 
	{
		.button_mix(@turquoise_fade,@turquoise_bright,@turquoise);
	}
	.btn-success
	{
		.button_mix(@grass_green_fade,@grass_green_bright,@grass_green);
	}
	.btn-primary
	{
		.button_mix(@light_blue_fade,@light_blue_bright,@light_blue);
	}
	.hover_text_color_alternate(@original,@hover)
	{
		color:@original;
		&:hover
		{
			color:@hover;
		}
	}
	@darken_amount:50%;
	.text-muted
	{
		.hover_text_color_alternate(@secondary_text,@text_color);
	}
	.text-primary
	{
		.hover_text_color_alternate(@light_blue,darken(@light_blue,@darken_amount));
	}
	.text-success
	{
		.hover_text_color_alternate(@grass_green,darken(@grass_green,@darken_amount));
	}
	.text-info
	{
		.hover_text_color_alternate(@turquoise,darken(@turquoise,@darken_amount));
	}
	.text-warning
	{
		.hover_text_color_alternate(@orange,darken(@orange,@darken_amount));
	}
	.text-danger
	{
		.hover_text_color_alternate(@red,darken(@red,@darken_amount));
	}
	.special_bg(@base,@dark)
	{
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		padding: 2em .5em 1em 1em;
		border: @dark solid 0;
		border-width: 0 0 0 5px;
		background:@base;
		color:@dark;
		-webkit-transition: border-width 250ms ease-out;
		-moz-transition: border-width 250ms ease-out;
		-ms-transition: border-width 250ms ease-out;
		-o-transition: border-width 250ms ease-out;
		transition: border-width 250ms ease-out;
		border-radius: 5px 0 0 5px;
		&:hover
		{
			border-width: 0 0 0 10px;
		}
	}
	.bg-primary
	{
		.special_bg(@light_blue_bright,@light_blue);
	}
	.bg-info
	{
		.special_bg(@turquoise_bright,@turquoise);
	}
	.bg-success
	{
		.special_bg(@grass_green_bright,@grass_green);
	}
	.bg-warning
	{
		.special_bg(@orange_bright,@orange);
	}
	.bg-danger
	{
		.special_bg(@red_bright,@red);
	}
	.dropdown-menu
	{
		li
		{
			background: @red;
			a
			{
				background: transparent;
			}
		}
	}
	small
	{
		color: @secondary_text;
	}

  .footer {
    background-color: @grey_3;
  }

}
