util.print: Use console.log instead
/*
	Color Palette Found From http://goo.gl/MRUFmk
*/
/* Font sizing taken from http://goo.gl/uVVVzQ
   TODO: Proper line-heights,
         see http://goo.gl/hi7Sa1
         for examples to mimic. God
         bless whoever wrote this file.
*/
@font-face {
  font-family: "New Transport";
  src: url("new_transport.eot?") format("eot"), url("new_transport.woff") format("woff"), url("new_transport.ttf") format("truetype");
}
@font-face {
  font-family: "New Transport Mono";
  src: url("new_transport_tabbed.eot?") format("eot"), url("new_transport_tabbed.woff") format("woff"), url("new_transport_tabbed.ttf") format("truetype");
}
body {
  padding: 0;
  margin: 0;
  background: #ffffff;
  color: #0b0c0c;
}
body * {
  color: #0b0c0c;
  font-size: 19px;
  line-height: 34.58px;
  font-family: "Helvetica", "New Transport", serif;
}
body .secondary_text {
  color: #6f777b;
}
body a {
  color: #005ea5;
}
body a:hover {
  color: #2e8aca;
}
body a:active {
  color: #2e8aca;
}
body a:visited {
  color: #2e8aca;
}
body * {
  font-size: 1em;
}
body h1,
body h2,
body h3,
body h4 {
  font-weight: bold;
}
body h1 {
  font-size: 36px;
}
body h2 {
  font-size: 28.8px;
}
body h3 {
  font-size: 27px;
}
body h4,
body h5,
body h6 {
  font-size: 21.6px;
}
body h5,
body h6 {
  font-weight: normal;
}
body h6 {
  color: #6f777b;
}
body .navbar-default {
  background: #005ea5;
  border: #bfc1c3 1px solid;
  box-shadow: inset rgba(191, 193, 195, 0.3) 0 0 4px;
}
body .well {
  background: #dee0e2;
  border: #bfc1c3 1px solid;
}
body .navbar a,
body .nav li {
  color: #0b0c0c;
  font-size: 19px;
  line-height: 34.58px;
  font-family: "Helvetica", "New Transport", serif;
  color: #ffffff;
}
body .navbar a:hover,
body .nav li:hover,
body .navbar a.active,
body .nav li.active {
  color: #ffffff;
  background: #ffffff;
}
body .navbar a:active,
body .nav li:active,
body .navbar a.active,
body .nav li.active {
  color: #ffffff;
}
body .navbar a:visited,
body .nav li:visited {
  color: #ffffff;
}
body .navbar-btn {
  color: #0b0c0c;
  font-size: 19px;
  line-height: 34.58px;
  font-family: "Helvetica", "New Transport", serif;
  color: #005ea5 !important;
}
body .navbar-toggle {
  background: #f8f8f8;
  border-color: #bfc1c3;
}
body .name,
body .navbar-brand,
body .navbar-default {
  color: #0b0c0c;
  font-size: 19px;
  line-height: 34.58px;
  font-family: "Helvetica", "New Transport", serif;
}
body .btn {
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  border-color: #bfc1c3;
}
body .btn-default {
  background: #f8f8f8;
}
body .btn-warning {
  border-color: #f47738;
  color: #f47738;
  background: #fabb96;
}
body .btn-warning:hover {
  color: #f47738;
  background: #fde4d4;
}
body .btn-warning.disabled {
  border-color: #ffffff;
  color: #ffffff;
  background: #fde4d4;
}
body .btn-warning.disabled:hover {
  color: #ffffff;
  background: #fde4d4;
}
body .btn-danger {
  border-color: #b10e1e;
  color: #b10e1e;
  background: #d9888c;
}
body .btn-danger:hover {
  color: #b10e1e;
  background: #efcfd1;
}
body .btn-danger.disabled {
  border-color: #ffffff;
  color: #ffffff;
  background: #efcfd1;
}
body .btn-danger.disabled:hover {
  color: #ffffff;
  background: #efcfd1;
}
body .btn-info {
  border-color: #28a197;
  color: #28a197;
  background: #95d0cb;
}
body .btn-info:hover {
  color: #28a197;
  background: #d5ecea;
}
body .btn-info.disabled {
  border-color: #ffffff;
  color: #ffffff;
  background: #d5ecea;
}
body .btn-info.disabled:hover {
  color: #ffffff;
  background: #d5ecea;
}
body .btn-success {
  border-color: #85994b;
  color: #85994b;
  background: #c2cca3;
}
body .btn-success:hover {
  color: #85994b;
  background: #e7ebda;
}
body .btn-success.disabled {
  border-color: #ffffff;
  color: #ffffff;
  background: #e7ebda;
}
body .btn-success.disabled:hover {
  color: #ffffff;
  background: #e7ebda;
}
body .btn-primary {
  border-color: #2b8cc4;
  color: #2b8cc4;
  background: #96c6e2;
}
body .btn-primary:hover {
  color: #2b8cc4;
  background: #d5e8f3;
}
body .btn-primary.disabled {
  border-color: #ffffff;
  color: #ffffff;
  background: #d5e8f3;
}
body .btn-primary.disabled:hover {
  color: #ffffff;
  background: #d5e8f3;
}
body .text-muted {
  color: #6f777b;
}
body .text-muted:hover {
  color: #0b0c0c;
}
body .text-primary {
  color: #2b8cc4;
}
body .text-primary:hover {
  color: #000000;
}
body .text-success {
  color: #85994b;
}
body .text-success:hover {
  color: #000000;
}
body .text-info {
  color: #28a197;
}
body .text-info:hover {
  color: #000000;
}
body .text-warning {
  color: #f47738;
}
body .text-warning:hover {
  color: #2b1002;
}
body .text-danger {
  color: #b10e1e;
}
body .text-danger:hover {
  color: #000000;
}
body .bg-primary {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 2em .5em 1em 1em;
  border: #2b8cc4 solid 0;
  border-width: 0 0 0 5px;
  background: #d5e8f3;
  color: #2b8cc4;
  -webkit-transition: border-width 250ms ease-out;
  -moz-transition: border-width 250ms ease-out;
  -ms-transition: border-width 250ms ease-out;
  -o-transition: border-width 250ms ease-out;
  transition: border-width 250ms ease-out;
  border-radius: 5px 0 0 5px;
}
body .bg-primary:hover {
  border-width: 0 0 0 10px;
}
body .bg-info {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 2em .5em 1em 1em;
  border: #28a197 solid 0;
  border-width: 0 0 0 5px;
  background: #d5ecea;
  color: #28a197;
  -webkit-transition: border-width 250ms ease-out;
  -moz-transition: border-width 250ms ease-out;
  -ms-transition: border-width 250ms ease-out;
  -o-transition: border-width 250ms ease-out;
  transition: border-width 250ms ease-out;
  border-radius: 5px 0 0 5px;
}
body .bg-info:hover {
  border-width: 0 0 0 10px;
}
body .bg-success {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 2em .5em 1em 1em;
  border: #85994b solid 0;
  border-width: 0 0 0 5px;
  background: #e7ebda;
  color: #85994b;
  -webkit-transition: border-width 250ms ease-out;
  -moz-transition: border-width 250ms ease-out;
  -ms-transition: border-width 250ms ease-out;
  -o-transition: border-width 250ms ease-out;
  transition: border-width 250ms ease-out;
  border-radius: 5px 0 0 5px;
}
body .bg-success:hover {
  border-width: 0 0 0 10px;
}
body .bg-warning {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 2em .5em 1em 1em;
  border: #f47738 solid 0;
  border-width: 0 0 0 5px;
  background: #fde4d4;
  color: #f47738;
  -webkit-transition: border-width 250ms ease-out;
  -moz-transition: border-width 250ms ease-out;
  -ms-transition: border-width 250ms ease-out;
  -o-transition: border-width 250ms ease-out;
  transition: border-width 250ms ease-out;
  border-radius: 5px 0 0 5px;
}
body .bg-warning:hover {
  border-width: 0 0 0 10px;
}
body .bg-danger {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 2em .5em 1em 1em;
  border: #b10e1e solid 0;
  border-width: 0 0 0 5px;
  background: #efcfd1;
  color: #b10e1e;
  -webkit-transition: border-width 250ms ease-out;
  -moz-transition: border-width 250ms ease-out;
  -ms-transition: border-width 250ms ease-out;
  -o-transition: border-width 250ms ease-out;
  transition: border-width 250ms ease-out;
  border-radius: 5px 0 0 5px;
}
body .bg-danger:hover {
  border-width: 0 0 0 10px;
}
body .dropdown-menu li {
  background: #b10e1e;
}
body .dropdown-menu li a {
  background: transparent;
}
body small {
  color: #6f777b;
}
body .footer {
  background-color: #dee0e2;
}
