/*
	Color Palette Found From http://goo.gl/MRUFmk
*/

@purple: #2e358b;
@purple_fade: #9799C4;
@purple_bright: #d5d6e7;

@mauve: #6f72af;
@mauve_fade: #b7b9d7;
@mauve_bright: #e2e2ef;

@fuschia: #912b88;
@fuschia_fade: #c994c3;
@fuschia_bright: #e9d4e6;

@pink: #d53880;
@pink_fade: #eb9bbe;
@pink_bright: #f6d7e5;

@baby_pink: #f499be;
@baby_pink_fade: #faccdf;
@baby_pink_bright: #fdebf2;

@red: #b10e1e;
@red_fade: #d9888c;
@red_bright: #efcfd1;

@mellow_red: #df3034;
@mellow_red_fade: #ef9998;
@mellow_red_bright: #f9d6d6;

@orange: #f47738;
@orange_fade: #fabb96;
@orange_bright: #fde4d4;

@brown: #b58840;
@brown_fade: #dac39c;
@brown_bright: #f0e7d7;

@yellow: #ffbf47;
@yellow_fade: #ffdf94;
@yellow_bright: #fff2d3;

@grass_green: #85994b;
@grass_green_fade: #c2cca3;
@grass_green_bright: #e7ebda;

@green: #006435;
@green_fade: #7fb299;
@green_bright: #cce0d6;

@turquoise: #28a197;
@turquoise_fade: #95d0cb;
@turquoise_bright: #d5ecea;

@light_blue: #2b8cc4;
@light_blue_fade: #96c6e2;
@light_blue_bright: #d5e8f3;

@black: #0B0C0C;
@grey_1: #6F777B;
@grey_2: #BFC1C3;
@grey_3: #DEE0E2;
@grey_4: #F8F8F8;
@white: #FFFFFF;

@HM_Government: #0076c0;
@Treasury: #af292e;
@Cabinet: #0078ba;
@DepEducation: #003a69;
@DepTransport: #006c56;
@HomeOffice: #9325b2;
@DepHealth: #00ad93;
@MinistryJustice: #231f20;
@MinistryDefense: #4d2942;
@ForeignOffice: #003e74;
@DepCommunity: #00857e;
@DepEnergy: #009ddb;
@DepCulture: #d40072;
@DepAgriculture: #898700;
@DepPensions: #00beb7;
@DepBusiness: #003479;
@DepDevelopment: #002878;
@GovernmentEqualities: #9325b2;
@AttorneyGeneral: #9f1888;
@ScotlandOffice: #002663;
@WalesOffice: #a33038;

@text_color: @black;
@secondary_text: @grey_1;
@link_color: #005ea5;
@link_color_visited: #2e8aca;
@link_color_active: #2e8aca;
@link_color_hover: #2e8aca;
@border_color: @grey_2;
@panel_color: @grey_3;
@canvas_color: @grey_4;
@highlight_color: @grey_4;
@page_color: @white;


/* Font sizing taken from http://goo.gl/uVVVzQ
   TODO: Proper line-heights,
         see http://goo.gl/hi7Sa1
         for examples to mimic. God
         bless whoever wrote this file.
*/
@header_size: 36px;
@default_size: 19px;

@default_font: "New Transport";
@backup_font: "Helvetica";

.font_face( @filename, @fontname)
{
  font-family: @fontname;
  src: url("@{filename}.eot?") format("eot"),
  url("@{filename}.woff") format("woff"),
  url("@{filename}.ttf") format("truetype");
}

@font-face
{
	.font_face("new_transport","New Transport");
}

@font-face
{
	.font_face("new_transport_tabbed","New Transport Mono");
}

.uk_spec_typography(@size:"body") when(@size="body")
{
	color:@text_color;
	font-size:@default_size;
	line-height:@default_size + @default_size * 1.64 * .5;//use golden ratio??!??
	font-family:@backup_font, @default_font, serif;
}

.uk_spec_typography(@size) when(@size="header")
{
	color:@text_color;
	font-size:@header_size;
	line-height:@header_size + @header_size * 1.64 * .75;//use golden ratio??!??
	font-family:@backup_font, @default_font, serif;
}

.uk_spec_panel(@include_box_shadow: true) when(@include_box_shadow)
{
	background:@panel_color;
	border:@border_color 1px solid;
	box-shadow: inset fade(@border_color,30) 0 0 4px;
}

.uk_spec_panel(@include_box_shadow) when(@include_box_shadow = false)
{
	background:@panel_color;
	border:@border_color 1px solid;
}

.uk_spec_body()
{
	padding: 0;
	margin: 0;
	background: @page_color;
	color: @text_color;
	*
	{
		.uk_spec_typography("body");
	}
	.secondary_text
	{
		color: @secondary_text;
	}
	a
	{
		color: @link_color;
		&:hover
		{
			color: @link_color_hover;
		}
		&:active
		{
			color: @link_color_active;
		}
		&:visited
		{
			color: @link_color_visited;
		}
	}
}