util.print: Use console.log instead
/*
	Color Palette Found From http://goo.gl/MRUFmk
*/
/* Font sizing taken from http://goo.gl/uVVVzQ
   TODO: Proper line-heights,
         see http://goo.gl/hi7Sa1
         for examples to mimic. God
         bless whoever wrote this file.
*/
@font-face {
  font-family: "New Transport";
  src: url("new_transport.eot?") format("eot"), url("new_transport.woff") format("woff"), url("new_transport.ttf") format("truetype");
}
@font-face {
  font-family: "New Transport Mono";
  src: url("new_transport_tabbed.eot?") format("eot"), url("new_transport_tabbed.woff") format("woff"), url("new_transport_tabbed.ttf") format("truetype");
}
